<launch>

  <include file="$(find turtlebot3_gazebo)/launch/small_wh.launch" />

  <include file="$(find ar_marker_test)/launch/aruco.launch" />
  
  <!--<include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch" />-->
  
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch"/>


  <node name="rrt_node" pkg="planner" type="rrt_node" />
  <node name="mobile_navigation" pkg="mobile_navigation" type="mobile_navigation"/>
  <node name="logistic_task" pkg="logistic_task" type="logistic_task" output="screen" launch-prefix="xterm -e" />
 <!--
  <node pkg="tf" type="static_transform_publisher" name="odom_to_map"
     args="0 0 0 0 0 0 /map /odom 10" />
    move_base 
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
  -->
  <!-- rviz -->

</launch>
