<launch>

  <include file="$(find turtlebot3_gazebo)/launch/small_wh.launch" />

  <include file="$(find ar_marker_test)/launch/aruco.launch" />
  
  <node name="ar_listener" pkg="ar_marker_test" type="ar_listener"/>
  
  <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch" output="screen" launch-prefix="xterm -e"/>
  
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" />

</launch>
