<launch>

  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch" />

  <include file="$(find ar_marker_test)/launch/aruco.launch" />
  
  <!--<include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch" />-->
  
  <node name="service_server" pkg="mobile_navigation" type="service_server"/>
  <node name="service_client" pkg="mobile_navigation" type="service_client" output="screen" launch-prefix="xterm -e" />


  <!-- move_base 
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
  -->
  <!-- rviz -->

</launch>
